/*--- Font ---*/
@font-face { 
    font-family: 'DINRegular';
    src: url('../font/din-regular-webfont.eot');
    src: url('../font/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-regular-webfont.woff') format('woff'),
         url('../font/din-regular-webfont.ttf') format('truetype'),
         url('../font/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINBold';
    src: url('../font/din-bold-webfont.eot');
    src: url('../font/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-bold-webfont.woff') format('woff'),
         url('../font/din-bold-webfont.ttf') format('truetype'),
         url('../font/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DINLight';
    src: url('../font/din-light-webfont.eot');
    src: url('../font/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-light-webfont.woff') format('woff'),
         url('../font/din-light-webfont.ttf') format('truetype'),
         url('../font/din-light-webfont.svg#DINLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINBlack';
    src: url('../font/din-black-webfont.eot');
    src: url('../font/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-black-webfont.woff') format('woff'),
         url('../font/din-black-webfont.ttf') format('truetype'),
         url('../font/din-black-webfont.svg#DINBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--- /Font ---*/
html,
body 
{
    font-family:"DINRegular", Helvetica, Arial, sans-serif !important;
    height: 100%;
}
.perfil{
    background: #222;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 7%;
    margin-top: 21%;
}
.nome_user span
{
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
	margin-right: 8px;
	line-height: 0;
}
.nome_user small
{
    color: #F9F9F9!important;
    font-size: 14px;
	display: table;
	width: 100%;
	margin: 10px 0 30px 0;
}
.edit_acount
{
    background: #eee;
}

a.edit_acount{
    color: #282c37;
}
.logo img{
    width: 75%;
    margin-top: 12px;
}
.treeview a{
    color: #fff!important;
    font-size: 13px;
    text-transform: uppercase;
}
.sidebar-menu .treeview{
    background: #313541;
    margin-bottom: 1px;
}
.notification li{
    display: inline-block;
    margin-left: 49px;
    margin-right: -23px;
}
.notification li i{
    color: #EEE;
    font-size: 24px;
}
.notification
{
	margin:50px 0;
}
.coment{
    float: left;
}
.corpo_forma{
    background: #e0dfdf;
    overflow: hidden;
    border-radius: 4px;
}
.coment_text{
    background: #e0dfdf;
    overflow: hidden;
    border-radius: 4px;
}
.coment_text p{
    padding: 10px;
}
.data_coment{
    background: #d8d8d8;
    padding: 5px;
}
.fundo_user_bilh
{
    background: #f4f7fa;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px;
}
.user_bi{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}
.user_validate{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 25px auto;
}
.validate_bi
{
    background: #fff;
    border-radius: 3px;
    text-align: center;
}
.validate_bi img{
    width: 70%;
    margin: 0 auto;
}
.user_code img
{
    width: 10%;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.user_code
{
    padding: 10px;
	width: 100%;
	display: table;
}
.user_code span:first-child
{
	float: left;
	display: table;
	width: 75%;
}
.user_code span div
{	font-size: 14px;
	text-align: left;
	display: table;
}
.codigoqrcode
{
	margin: 30px 0;
}
.codigoqrcode span, .validate_bi div.text-center a
{
	font: 16px "DINBold", Helvetica, Arial, sans-serif !important;
	display: table;
	width: 100%;
}
.validate_bi div.text-center a
{
	color: #fff;
    text-transform: uppercase;
    background: #009447;
    padding: 10px;
}
.modalpopup .modal-body
{
	height: 280px;
	overflow: hidden;
}
.modalpopup .modal-body, .modalpopup .modal-body .col-md-6:last-child, .modalpopup .modal-body .col-md-6:first-child, .pagebusiness
{
	padding:0 !important;
}
.modalpopup .modal-body form .col-md-6:first-child
{
	height: 100%;
	display: table;
}
 .popupcriarbilhete .modal-body
{
	padding:0 20px 20px;
}
.topbtevento .row
{
	background-color: #f4f7fa;
	padding: 30px 4.3%;
	margin-top: 5.5%;
	margin-bottom: 30px;
}
.popupcriarbilhete .modal-body form, .popupcriarbilhete .rodape, .historicoevento .proximo_evento, #papelFundo .papelFundoinner span
{
	display:table;
	width: 100%;
}
.pageevento .proximo_evento
{
	width: 90%;
	display: table;
	margin-bottom: 20px;
}
.form-group:last-child, .popupcriarbilhete .form-group .infoput input, .filtroEd:last-child
{
	margin:0;
}
.popupcriarbilhete .rodape .btn:first-child
{
	margin-right: 20px;
}
.popupcriarbilhete .rodape .btn
{
	width: auto;
	float: left;
}
.modalpopup .modal-body form
{
	padding: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
}
#modal_validate .modal-body form input[type="text"]
{
	margin: 29% 0;
	text-transform: uppercase;
}
#evento-descricao, #bilhete-descricao_bilhete{
    background: #ecf0f1;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px !important;
}
.select2-container--krajee .select2-selection{
    background-color: #ecf0f1!important;
}
.select2-container--krajee .select2-selection--single{
    padding: 9px 24px 6px 12px!important;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected]{
    background-color: #068141!important;
}
.highcharts-title{
    display: none!important;
}
.highcharts-background{
    fill: transparent!important;
}
.box_title{
    background: #636363;
    padding: 10px;
}
.btn-file{
    background: #009447!important;
}
.bt{
    background: #009447 !important;
    border-radius: 4px;
    border-color: #009447 !important;
}

.bi_name h4{
    background: #fff;
    padding: 5px 15px;
    color: #777;
    border-radius: 4px;
    width: 40%;
}
.bi_name span{
    font-weight: 700;
    font-size: 25px;
}

.evproximo strong{
    font-size: 22px;
    font-weight: 700;
    color: #333;
}
.titulosection, .topbtevento .row .col-md-6:first-child
{
	padding:0;
}
.proximo_evento, .pageevento .detail_bilhete
{
    margin: 40px 4.5% 20px;
}
.pagebusiness .proximo_evento
{
	margin: 20px 4.5%;
	display: table;
	width: 90%;
}
.pagebusiness .col-md-12.contentbox
{
	padding:0 4.5% 0 2%;
}
.accountngpage .col-md-12.contentbox
{
	padding: 0 4.5% 0 3%;
}
.pageusers .col-md-12.contentbox
{
	padding-right: 3%;
}
.business-create .tab-content .contentbox .panel
{
	margin: 30px 0 0 0;
}
.business-create .tab-content .contentbox .descbussinessbox, .pageusers .descbussinessbox, .pageprodutor .panel .descbussinessbox
{
	padding:8px;
}
.business-create .tab-content .contentbox  .col-md-8.descbussinessbox div
{
	font: 18px "DINRegular", Helvetica, Arial, sans-serif !important;
}
.business-create .tab-content .contentbox .col-md-8.descbussinessbox span
{
	font: 14px "DINBold", Helvetica, Arial, sans-serif !important;
}
.nomebusiness
{
	float:left;
}
.nomebusiness div:last-child
{
	display:table;
	font: 20px "DINBold", Helvetica, Arial, sans-serif !important;
	line-height: 36px !important;
}
.pagebusiness .proximo_evento .labeltipobilhete, #modalcriarmarca .labeltipobilhete
{
	padding:17px 25px;
}
.pagebusiness .proximo_evento .labeltipobilhete:hover, .pagebusiness .proximo_evento .labeltipobilhete:focus, #modalcriarmarca .labeltipobilhete:hover
{
	color: #fff;
	background-color: #009447;
	cursor:pointer;
}
.circulobusiness
{
	height: 35px;
	width: 35px;
	background: #c7c7c7;
	border-radius: 50%;
	float: left;
	margin-right:15px;
}
.pageevento .detail_bilhete
{
	margin-bottom: 30px;
	margin-top: 0;
	margin-right: 5%;
}
.popupcriarbilhete .proximo_evento
{
	margin-left: 2.5%;
	margin-bottom: 15px;
}
.borderlefttitlo
{
	float: left;
	width: 5px;
	height: 23px;
	background-color: #068141;
	border-radius: 3px;
	position: absolute;
}
.proximo_evento h4 span
{
	margin:0 20px;
	float:left;
}
.nomebusinesscreate
{
	display:table;
}
.nomebusinesscreate span
{
	margin:3px 20px 0 20px !important;
}
.next {
    width: 44%;
    margin-left: 50px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: -23px;
}
.mesevento 
{
	background: #fff;
	color: #666;
	width: 100%;
	border-radius: 3px;
	padding:3px 5px 0;
	font: 16px "DINRegular", Helvetica, Arial, sans-serif !important;
	display: table;
}
.box_valor{
    background: #fff;
    padding: 16px 50px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    float: right;
    border-radius: 4px;
    margin-top: -5%;
}
.box_valor h2{
    color: #777;
    margin-top: 0px;
}

.box-slide{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
}
.title{
    text-align: center;
}
.borda{
    border-right:1px solid #fff;
    margin-right: 10px;
}

.box-slid{
    border-right: 1px solid #fff;
}

.menutab li a{
    border-radius: 0px!important;
}
.event_name p a:hover{
    text-decoration: none!important;
    color: #009447!important;
    transition: 1s;
}

.event_name p a{
    color: #fff!important;
}
.evproximo{

width: 94%;
border:1px;  
background:transparent;
color:green;

}
.recentes{
width: 94%;
border:1px;  
background:transparent;
color:green;
clear: true;
float: true;

}
.proximo{
    padding: 0px!important;
}
.evproximo a:hover{
    text-decoration: none!important;
}
.bi a:hover{
    text-decoration: none!important;
}
/*
.glyphicon-chevron-left{
    display: none!important;
}
*/
.destail_evento{
    background: #009447;
    border-radius: 4px;
    height: auto;
    padding: 2px 20px;
    margin-top: -10px;
    margin-right: -15px;
}
.destail_evento h1{
    color: #fff;
    font-weight: 800;
    font-size: 30px;
}
.destail_evento span {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
}
.destail_evento .fa.fa-calendar {
    font-size: 23px;
}
.detail_bilhete{
    background: #edece9;
    height: auto;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    overflow: hidden;
}
.detail_bilhete h2 {
    font-size: 25px;
}
.detail_estatistica{
    background: #edece9;
    height: auto;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-top: 40px;
    margin-right: -15px;
    overflow: hidden;
}
.aniversarios{
    background: #edece9;
    border-radius: 4px;
    height: 100%;
    width: auto;
    margin-right: -15px;
    margin-top: -10px;
}
.box_aniversario{
    background: #e0dfdf;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
}
.aniversarios .carousel-control{
    color: #282c37;
}
.comentarios
{
	margin-top:50px;
}
.comentarios .carousel-control{
    color: #282c37;
}
.avatar img{
    width: 100%;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.bilhte > li.active > a
{
	background: #009447 !important;
}
.bilhte > li.active > a, .bilhte > li.active > a:hover, .bilhte > li.active > a:focus
{
    color: #fff !important;
}
.bilhte > li > a
{
    background: #edece9!important;
    color: #009447;
    padding: 30px;
    border: 0px;
    text-transform: uppercase;
	font-size:16px !important;
}
.tab-content #geral, .tab-content #normal, .tab-content #vip{
    padding: 30px;
} 

.tab-content #geral1{
    padding: 30px;
} 
.fundo_circle
{
    background: rgba(0, 148, 31, 0.3);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
	float: right;
}
.infovenda{
    background: rgba(0, 169, 75, 0.2);
    height: 230px;
    width: 94%;
    position: relative;
    margin-top: -52px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fdim{
    height: 60px!important;
    overflow: hidden;
}
.event_cartaz{
    height: 382px;
    overflow: hidden;

    /*margin-bottom: -3%;*/
}
.event_cartaz img{
    width: 100%;
}

/*
.filtro {
    position: absolute;
    width: 100%;
    background-color: rgba(6,129,65, 0.6);
    height: 382px;
    margin-left: 0px;
    opacity: 0.5;
}
*/

.filtro_eventos {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    border-radius: 4px;
    opacity: 0.5;
}
.pagemarcas .filtro_eventos
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66000000',GradientType=0 );
	opacity: 1;
}
.pagemarcas .filtro_eventos:hover
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}
.ticket{
    margin-bottom: 8px;
    padding: 8px;
    height: auto;
    background: url(../img/fudo.jpg) no-repeat;
    background-size: cover;
    border:1px solid #ddd;
    border-radius: 4px;
}

.detailticket li{
    color: #777;
    background: #fff;
    padding: 1px 6px;
    border-radius: 3px;
}

.detailticket h3{
    color: #777;
    margin-bottom: -1%;
}
.detailticket span{
    font-weight: 700;
    font-size: 17px;
}
.detailticket li small{
    font-size: 17px;
}

.ticket i{
    font-size: 40px;
    color: #009447;
    background: #fff;
    padding: 5px 20px;
    border-radius: 4px;
}

.ticket b{
    color: #777;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.event_count span{
    font-weight: 700;
    color: #333;
    font-size: 30px;
}

.info_evento{
    background: #fff;

}
.event_name{
    color: #fff;
    margin-top: -30%;
    margin-left: 30px;
}

.iconbi{
    background: #fff;
    padding: 20px;
    border-radius: 50%;
}

.ticket li{
    display: inline-block;
    margin-right: 10px;
}

.ticket li h2, .ticket li a{
    color: #fff;
}

.event_name li{
    display: inline-block;
    margin-right: 20px;
}

.event_name span{
    font-stretch: ultra-condensed;
}

.event_name p{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    font-size: 50px;
}
.breadcrumb{
    margin-bottom: 10px!important;
    padding-top: 14px!important;
}
.evproximo{
    /*margin-bottom: 5px;*/
    border-bottom: 1px solid #aaa;
    padding: 13px 14px;
    height: auto;
    color: #fff;
  
}
.evproximo h3{
    color: darkgreen;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.info_evento h4{
    background: #767171!important;
    padding: 10px 12px;
    margin-top: 0px;
    color: #fff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.login{
    background: #fff!important;
    padding: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)!important;
}


.bglogin{
    margin: 0 auto 0px auto;
    height: 100px;
    width: 200px;
    background: #fff;
}

.bota{
    background: #009447!important;
    border: 1px solid #eee!important;
    border-radius: 0px!important;
    width: 100%;

}

.top img{
    width: 17%!important;
    margin-top: -3%;
}

.top{
    background: #fff!important;
    border-bottom: 0px!important;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)!important;
    padding: 10px 0px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #009447!important;
    background: #fff!important;

}

.top li a:hover{
    color: #009447!important;
}

.top  .user-image{
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%!important;
    margin-right: 10px!important;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}
