.filtroEd, ._filtroCr
{
	border-radius: 3px !important;
	margin: 0 15px 0 0 !important;
	width: 100px;
	height: 35px;
	float: left;
	padding: 0 !important;
}
.filtroEd:hover, .filtroEd:focus, ._filtroCr:hover, ._filtroCr:focus
{
	border-bottom: 5px solid #009447;
	cursor: pointer;
}
.carousel-control
{
	width: auto;
	padding: 16px 10px;
	font-size: 36px;
	line-height: 0;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(255,255,255, .5) 0%, rgba(255,255,255, .0001) 100%) !important;
  background-image:      -o-linear-gradient(left, rgba(255,255,255, .5) 0%, rgba(255,255,255, .0001) 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255, .5)), to(rgba(255,255,255, .0001))) !important;
  background-image:         linear-gradient(to right, rgba(255,255,255, .5) 0%, rgba(255,255,255, .0001) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1) !important;
  background-repeat: repeat-x !important;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%) !important;
  background-image:      -o-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255, .0001)), to(rgba(255,255,255, .5))) !important;
  background-image:         linear-gradient(to right, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1) !important;
  background-repeat: repeat-x !important;
}
.commentblockquote {
    color: #068141;
    font-size: 71px;
    position: absolute;
    margin-left: 280px;
    margin-top: -35px;
}
.validate_bi span {
    font-size: 12px;
}
.container-fluid.\.validade_box {
    margin-right: -15px;
}

.container-fluid.validate_mask.Mask, .carousel-inner.uservalbackground {
    background: inherit;
}

#CiarValidarBilhete {
    margin-left: -5px;
    margin-right: 0;
}
.pageventbtngroup
{
	display:table;
	float:right;
	margin: 0 -15px;
}
.pageventbtngroup a
{
	float: left;
	margin: 0 0 0 15px !important;
	padding:8px 15px !important;
}
.pagina_geral {
	margin: 0 5%;
}
.pagina_geral .container-fluid.validade_box 
{
	padding:0;
}
.margin_left-right
{
	margin-left: 0;
	margin-right: 0;
}
.bilhete-form .form-group {
    margin-bottom: 14px !important;
}

.modal-body #input {
    background: #edece9;
    border-radius: 4px;
}
.user_contatos
{
    margin-top: 35px;
	color:#009447;
}
.user_contatos span {
    font-size: 20px !important;
    font-weight: 400;
}
.descricao_text {
	width: 40% !important;
}
.aniversarios .box_coment {
    padding: 2% 10%;
}
.aniversarios .coment {
    float: left;
    background: #ddd;
    border-radius: 4px;
    width: 100%;
}
.anivernomeano {
    display: table;
    width: 190px;
}
.anivernomeano h2 {
    font-size: 17px !important;
    margin-left: -5px;
    padding: 0 70px 0 0;
    margin: 14px 0 0;
}
#comentario, .info_evento_evento  {
    margin-top: 30px;
}
.info_evento_evento h4 {
    margin-left: -5px !important;
}
#comentario h4 {
	margin-left: -20px;
}
/*#bilhetess {
    margin-top: 20px;
    margin-right: -15px;
}*/
.nav > li > a {
    border-radius: inherit;
}
.criar_evento
{
	border-radius: 3px;
	float: left;
}
.criar_evento a:hover, .criar_evento a:focus
{
	color: #fff;
    background: #0DAE5A;
}
.criar_evento .btn, .rodape .btn
{
	background: #068141;
	border-radius: 3px;
	padding:8px 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: normal;
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .pagination > li > a, .user_contatos h2, .modalpopup .modal-body h4 span:first-child, .popupcriarbilhete h4.modal-title, .escudo h2, .pagebusiness .accountingbox table tr td div, .pageusers .nav-tabs > li > a, .progresspopup ul li
{
	font-family: "DINBlack", Helvetica, Arial, sans-serif !important;
}
 .user_contatos h2
{
	color:#068141;
}
.info_cartaz .fundo_circle span
{
	color:#fff;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .nome_user div.nomeuser, .fundo_user_bilh h2, .modalpopup .modal-body h4 span:first-child, .popupcriarbilhete h4.modal-title, .pageusers .nav-tabs > li > a
{
	font-size: 20px;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .popupcriarbilhete h4.modal-title, .pageusers .nav-tabs > li > a,  #modalcriarmarca .labeltipobilhete, .pageprodutor .panel .descbussinessbox
{
    text-transform: uppercase;
}
.modal-header, .modal-footer, .pagebusiness .panel-body table th, .pagebusiness .panel-body table td, .table > thead > tr > th, .pageanalitics .accountingbox .nav > li > a:hover
{
	border: none;
}
.modal-header, .accountngpage .panel.accountingbox, .modal-footer, .descbussinessbox, .pageanalitics .tab-content
{
	padding:20px;
}
.proximo_evento h4, .pageusers .nav-tabs > li > a, #modalcriarmarca label, #modalcriarmarca .labeltipobilhete, .progresspopup ul li
{
    color: #009447;
}
.info_evento{
	background: currentColor;
	background-size: cover;
	height: 358px;
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.info_cartaz {
    position: absolute;
    margin-top: -315px;
    margin-left: 4.6%;
    width: 90.5%;
}
.info_cartaz span
{
	color: #fff;
	font-size: 20px;
}
.info_cartaz .fundo_circle span:first-child
{
	color: #fff;
	text-transform: uppercase; 
	font: 20px "DINRegular", Helvetica, Arial, sans-serif !important;
}
.detalhes_geral span
{
	font-family: 28px;
	width: 100%;
	margin-bottom: 10px;
	display: table;
}
.detalhes_geral span span
{
	font: 30px "DINLight", Helvetica, Arial, sans-serif;
	line-height: normal;
	line-height: 34px;
	display: table;
	width: auto;
}
.detalhes_geral span, .nomebusinesscreate, .pagemarcas .contentbox .panel .descbussinessbox span
{
	font-family: "DINLight", Helvetica, Arial, sans-serif !important;
}
.detalhes_geral span:last-child, .pagebusiness .panel-body table
{
	margin:0;
}
.detalhes_geral button.btn-default
{
	font: 14px "DINBlack", Helvetica, Arial, sans-serif !important;
    margin-top: 35px;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding: 8px 15px;
    width: 26.4%;
    border-radius: 3px;
}
.detalhes_geral button.btn-default:hover, a.edit_acount:hover, a.edit_acount:focus
{
	background-color:#FFF;
}
.detalhes_geral a {
	color: #068141 !important;
}
.info_cartaz h1
{
	color: #fff!important;
	margin:0 0 20px 0;
}
.info_cartaz h1, .user_contatos h2
{
	font:36px "DINBlack", Helvetica, Arial, sans-serif !important;
}
.escudo h2
{
	font-size: 36px;
}
.detalhes_geral span i.fa
{
    font-size: 26px !important;
	width: 22px;
	text-align: center;
	margin-right: 10px;
	float: left;
}
.percentagem{
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-top: 20%;
}
.fundo_next_event{
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
}
.fundo_next_event .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}
.info_next_event
{
	bottom: 0;
	z-index: 999;
	color: #fff;
	position: absolute;
	width: 100%;
	display: table;
}
.info_next_event .col-md-12
{
	padding: 30px;
	font:18px "DINBold", Helvetica, Arial, sans-serif !important;
}
.nome_user div.nomeuser, .fundo_user_bilh h2, .fundo_user_bilh span, .bilhte > li > a, #producer_form button, .criar, .filtropanel .btn-group .btn-default, .pagemarcas .contentbox .panel .descbussinessbox, #modalcriarmarca .col-md-6 label, #modalcriarmarca .labeltipobilhete
{
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.fundo_user_bilh h2, .pageanalitics .accountingbox .nav-tabs li a
{
	color:#333;
}
.fundo_user_bilh small
{
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.fundo_user_bilh span
{
	font-size: 20px;
}
.fundo_user_bilh span i.fa
{
	margin-right: 10px;
}
.historicoevento .titulosection {
    margin-top: 65px;
}
.proximo_evento h4 {
	float: left;
	margin: 12px 0;
}
.business-create .nav-tabs > li a
{
	font: 16px "DINBold", Helvetica, Arial, sans-serif !important;
	padding: 10px;
	color: #666;
}
.business-create .nav-tabs > li > a:hover, .business-create .nav-tabs > li:active > a:hover,.business-create .nav-tabs > li > a:focus,.nav > li > a:active
{
	background-color: #009447;
	cursor: pointer;
	color: #f8f8f8;
}
.business-create .nav-tabs > li > a:hover, .business-create .nav-tabs, .business-create .nav-tabs > li a, .nav > li > a:active,.business-create .nav-tabs > li > a:focus, .pageanalitics .accountingbox .nav-tabs
{
	border: none;
}
.business-create .business-form .col-md-6
{
	padding:30px 10px 0 13px !important;
}
.business-create .form-control {
	border-radius: 5px !important;
}
.business-create .alert-info, .label-info, .modal-info .modal-body {
    background-color: #f8f8f8 !important;
    color: #666 !important;
    border-color: #666;
    border-color: #eee !important;
}
.paginatiogerel
{
	margin: 30px auto;
	display: inline-block;
	width: 100%;
}
.pagination
{
	margin: 0 auto;
	display: table !important;
}
.pagination > li:first-child > span, .pagination > li:last-child > span, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > li:first-child > a, .pagination > li:last-child > a
{
	border-radius: 50%;
	border:1px solid #068141 !important;
	color: #068141;
	padding:1px 7px !important;
}
.pagination > li > a
{
	background-color:transparent !important;
	font-size: 16px !important;
	border-color:transparent !important;
	color:#068141 !important;
	padding:1px 7px !important;
}
.validate_mask
{
    margin:11% 4% 20px;
}
.pagina_geral .proximo_evento
{
	margin:40px 15px 20px;
}
.form-control:hover, .form-control:focus, .filtropanel .btn-group .btn.btn-default:hover, .filtropanel .btn-group .btn.btn-default:focus
{
	border-color:#009447 !important;
}
.serach_user
{
	width:99.5%;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	overflow: hidden;
}
.serach_user input
{
	height: 50px;
    background: #ecf0f1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
	text-transform: uppercase;
}

.serach_user span
{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	overflow: hidden;
	background: #009447 !important;
	border-color: #009447 !important;
	padding: 0;
	height: 50px;
}
.serach_user button
{
	width: 100%;
	height:100%;
	color: #fff;
	padding: 12px 22px;
	display: table;
	background-color: transparent !important;
	border: none;
}
.info_next_event .col-md-12 .col-md-1, .accountngpage .accountingbox .col-md-6
{
	padding:0;
}
.accountngpage .accountingbox .col-md-6:last-child
{
	padding: 8%;
}
.accountngpage .accountingbox .col-md-6 .graficoacounting
{
	background-color: #e0e0e0;
	width:300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 auto;
}
.info_next_event .col-md-12 .col-md-1 .diaevento
{
	margin-bottom: 0px;
}
.info_next_event .col-md-12 .col-md-11
{
	padding-right: 0;
}
.info_next_event .col-md-11 .tipoevento
{
	font-family: "DINRegular", Helvetica, Arial, sans-serif !important;
    margin:-20px 0 0 0;
	position: absolute;
}
.info_next_event h3, .info_next_event .col-md-12 .col-md-1
{
	margin: 0;
	text-transform: uppercase;
	font: 32px "DINBold", Helvetica, Arial, sans-serif !important;
}
.row.clienteinner
{
	margin-top:30px;
}
.info_next_event a, .nome_user div.nomeuser
{
	color: #fff;
	position: relative;
	margin-top: -10px;
}
.info_next_event .media-heading
{
	margin-bottom: -7px!important;
	margin-top: 9px;	
}
.upload {
    background: #f4f7fa;
    height: 300px;
    overflow: hidden;
    margin-top: 26px !important;
    border-radius: 4px;
}
.upload .fa-trash{
	background: #fff;
	padding: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	font-size: 20px;
	float: right;
	color: #c0392b;
	position: relative;
	border-radius: 3px;
	right: 3%;
	top: -16%;
}
.upload .fa-trash:hover, .upload .fa-trash:focus
{
	background:#c0392b;
	color: #fff;
}
#papelFundo .papelFundoinner
{
	font:16px "DINBold", Helvetica, Arial, sans-serif !important;
	display: table;
	/*margin: 20% auto;*/
	margin: 23% 37%;
	position: absolute;
}
#papelFundo .papelFundoinner i.fa
{
	border-radius: 50%;
	padding: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width:3px;
}
.bilhete-form .rodape 
{
    bottom: 0;
    position: absolute;
    width: 100%;
}
 .Mask .cancelar
{
    background: #313541 !important;
	border: 0px !important;
	color: #fff !important;
	padding: 6px 15px !important;
	text-transform: uppercase;
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.criar
{
	background: #009447!important;
	border:1px solid #009447 !important;
	color: #fff!important;
	padding: 6px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	float: right;
	margin: 20px 0; 
}
.edit{
	background: #009447!important;
	border: 0px!important;
	color: #fff!important;
	padding: 6px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
}
.delete{
	background: #ecf0f1!important;
	border: 0px!important;
	color: #c0392b!important;
	padding: 6px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
}
.validar{
	background: #ecf0f1!important;
	border: 0px!important;
	color: #e67e22!important;
	padding: 5px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 10px;
}
.dispublicar {
	margin-right: 10px !important;
} 
.escudo h2
{
	color: #009447;
	margin: 0;
}
.modalpopup .modal-body h4, .modalpopup .modal-body .rodape
{
	width: 100%;
	display: table;
	margin: 0;	
}
.labeltipobilhete
{
	border: 2px solid #009447 !important;
	border-radius: 5px;
	padding: 8px; 
	color: #009447; 
	float: right;
	line-height: 0;
	margin-right: 16px;
}
.rodape .btn
{
	border: 0 !important;
	color: #fff !important;
	padding: 8px 15px !important;
	text-transform: uppercase;
	width: 46%;
	margin: 0;
}
.rodape .criar 
{
    background: #009447 !important;
	float: right;
}
.rodape .cancelar
{
    background: #313541 !important;
	float:left;
}
.infoput input{
	background: #ecf0f1;
	border-radius: 2px;
	margin-bottom: 6px;
	border: solid 1px rgba(189, 195, 199, 0.3);
	text-transform: uppercase;
	font-weight: 200;
	font-size: 12px !important;
}

.search{
	background: #e6e6e6;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.search input{
	border-radius: 4px;
}

.list_evento{
	background: #fff;
	padding: 5px;
	overflow: hidden;
	height: auto;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 1%;
}
.list_evento h4{
	color: #009447;
}
.list_evento span{
	color: #565656;
}
.info_evento h4{
	color: #fff!important;
}
.fock{
	 background: rgba(0, 169, 75, 0.2);
	 position: relative;
}
.cartaz{
	padding: 0px;
	padding-left: 16px;
	overflow: hidden;
}

.info{
	padding: 0px;
	overflow: hidden;
	padding-right: 16px;
}

.info_evento small{
	float: right;
	color: #fff!important;
}

.menutab{
	/*border-bottom: 1px solid #009447!important;
	background: #f2f2f2!important;*/
}
.menutab > li.active > a, .menutab > li.active > a:focus, .menutab > li.active > a:hover{
	color: #009447!important;
	/*border: 1px solid #009447!important;*/
	background-color: #fff!important;
	border-radius: 0px!important;
	border-bottom-color: transparent!important;
}
.skin-blue .sidebar-menu > li > .treeview-menu{
	background: rgba(230, 230, 230, 0.9)!important;
}

.menutab li{
	display: inline-block;
}

.event_cover{
	height: 358px;
	overflow: hidden;
}

.event_futuro
{
	height: 150px;
	overflow: hidden;
}

.evento_proximo{
	margin-top: 5%;
}
.skin-blue .main-header .logo{
	background: #068141 !important;
	color: #fff!important;
	height: 65px;
}
.skin-blue .main-header .navbar
{
	padding:16px 4.6% 15px 3.7%;
    background-color: #fff!important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    /*position: fixed !important;*/
    height: 65px !important;
}
.skin-blue .main-header form
{
	background-color: #e0e0e0;
	border-radius: 3px;
	padding:0;
	overflow: hidden;
	left: -13px;
}
.skin-blue .main-header form span
{
	padding: 10px 10px;
	display: table;
	line-height: 0;
	float: left;
}
.skin-blue .main-header form input[type="text"]
{
	width:89.5% !important;
	float:right;
}
.skin-blue .main-header .navbar .sidebar-toggle{
	color: #009447!important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background: #282c37!important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover
{
	background: #009447!important;
	color: #fff!important;
}

.content-wrapper, .right-side
{
	background: #f5f5f5 !important;
}

.edit_acount.text-center {
    color: #282c37 !important;
}

.sidebar-menu.text-center
{
	letter-spacing: 1px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	font-family: "DIN", Helvetica, Arial, sans-serif !important;

}
.sidebar .glyphicon.glyphicon-pencil {
    left: 2px;
}
.summary{
	display: none;
}
.btn-file{
	background-color: #009447!important;
	border-color: #009447!important;
}

.bt{
	background: #009447!important;
	border: 1px solid #009447!important;
	border-radius: 4px!important;

}

.botao{
	background: rgba(0, 0, 0, 0.5)!important;
	border: 1px solid #eee!important;
	border-radius: 0px!important;
	width: 100%;

}

.login{
	background: rgba(255, 255, 255, 0.1)!important;
	padding: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)!important;
}
.grade{
	background: #fff;
	border-bottom: 2px solid #A2CED2;
	margin-bottom: 30px;
}

.cont{
	padding: 10px;
	text-align: center;
}

.mapa{
	padding-top: 11%;
	box-shadow: 0 6px 6px -6px #bbb;
}
.sair button, .sair button:hover, .sair button:focus
{
	border: 0px!important;
	background: transparent!important;
	color: #333;
	padding: 4px 12px;
}
.sair .caret{
	color: #fff;
}
.sair .dropdown-menu{
	min-width: 25px!important;
	padding: 0px!important;
	top: 25px;
    left: -15px;
}
.sair .dropdown-menu button:hover {
    background: #ccc !important;
}

.pag .active a{
	background: #3399ff!important;
	border-color: #3399ff!important;

}


.avatar{
	border: 1px solid #72afd2;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left; 
	margin: 13px 14px;
	background: #fff;
}

.avatar i{
	padding: 9px 13px;
}

.breadcrumb{
	background: #fff!important;
	border-radius: 0px!important;
	box-shadow: 0px 1px 0px #f0f0f0!important;
}

.page-header span{
	border-bottom: 1px solid #72afd2;
	padding-bottom: 6px!important;
	color: #777!important;

}

.galeria img{
	width: 112px;
}

/*.box_cont{
	padding-top: 5%!important;
}*/

.box.box-info{
	border-top-color: #69b1d5!important;
}
.pagebusiness .panel-body, .imgbussinessbox
{
	color: #666;
}
.pagebusiness .panel
{
	border-radius: 5px;
	overflow: hidden;
	border: none;
	margin-bottom: 30px;
	box-shadow:0 2px 2px rgba(0, 0, 0, .05);
	border: none;

}
.pagebusiness .panel-body table thead tr th, #modalcriarmarca label, .pageanalitics .accountingbox .nav-tabs a
{
	font:16px "DINBold", Helvetica, Arial, sans-serif !important;
}
.pagebusiness .panel-body table thead tr th, .pagebusiness .panel-body table td
{
	padding:9px;
}
.pagebusiness .panel-body table th, .pagebusiness .panel-body table td
{
	border-right:1px solid #ddd;
}
.pagebusiness .panel-body table tr td div
{
	float:left;
}
.pagebusiness .panel-body table tr td div:first-child
{
	width: 70%;
}
.pagebusiness .panel-body table tr td div:last-child
{
	width: 30%;
}
.pagebusiness .panel-body table tr td.childtd, .pagebusiness .panel-body table tr td.childtd div
{
	font-family: "DINRegular", Helvetica, Arial, sans-serif !important;
}
.pagebusiness .panel-body table tr td.childtd div:first-child
{
	padding-left: 25px;
}
.pagebusiness .col-md-3 a .panel:hover, .pagebusiness .col-md-3 a .panel:focus
{
	box-shadow:0 0 10px rgba(0, 0, 0, .09);
	transition: ease;
}
.pagebusiness .panel-body, .imgbussinessbox
{
	padding:0;
}
.page_bussiness .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overview {
    top: -30px;
}
/*
.overview-page {
	margin-top: 65px;
}
.main-header {
    position: fixed !important;
}
*/
.business_page .imgbussinessbox .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 109px;
    object-fit: cover;
}
.business_page .col-md-4 a .panel:hover, .pagebusiness .col-md-4 a .panel:focus
{
	box-shadow:0 0 10px rgba(0, 0, 0, .09);
	transition: ease;
}
.pagemarcas .imgbussinessbox .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
	max-width: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.pagemarcas .imgbussinessbox {
    height: 200px;
}
.descbussinessbox
{
	font: 20px "DINLight", Helvetica, Arial, sans-serif !important;
	min-height: 109px;
}
.descbussinessbox span
{
	width: 100%;
	display: table;
}
.descbussinessbox span:last-child
{
	font-size: 16px;
	margin-top: 5px;
}
.addbusiness
{
	background-color:#f2f2f2;
	color:#b9b9b9;
	font: 90px "DINLight", Helvetica, Arial, sans-serif !important;
	display: table;
	width: 100%;
	text-align: center;
}
.addbusiness .plusicon
{
	padding: 41.5%;
	height:283px;
}
.pagemarcas .addbusiness .panel-body
{
	padding: 24.5%;
	height: 249px;
}
.pageusers .addbusiness .panel-body
{
	padding: 24.5%;
	height: 209px;
}
.pageprodutor .addbusiness .panel-body
{
	padding: 14%;
	height: 132px;
}
.nomebusinessbt
{
	padding: 0;
	background-color: #e0e0e0;
	height: 65px;
}
.accountngpage .panel .filtropanel, .table > thead > tr.active > th, .pageanalitics .accountingbox .nav-tabs
{
    background-color: #f3f3f3;
}
.filtropanel
{
	padding:15px;
}
.filtropanel .btn-group
{
	float: left;
	margin-right: 15px;
}
.filtropanel .btn .caret
{
	margin-left: 10px;
}
.filtropanel .btn-group .btn.btn-default
{
	background-color: #fff;
	padding:8px 15px;
}
.filtropanel .btn-group .btn.btn-default:hover, .filtropanel .btn-group .btn.btn-default:focus
{
	background-color: #e4e9e6;
	box-shadow: none;
}
.pagemarcas .contentbox .panel
{
	height: auto;
	overflow: hidden;
}
.pagemarcas .contentbox .panel .descbussinessbox
{
	position: absolute;
	top: 100px;
	color: #fff;
	width: 100%;
	text-transform: capitalize;
}
.pagemarcas .contentbox .panel .descbussinessbox div
{
	font-size: 26px;
}
.linetopbox
{
	width: 21%;
	height: 2px;
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
}
.userciculo
{
	background-color: #fff;
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	border-radius: 50%;
	z-index: 10;
}
.pageusers .col-md-12.imgbussinessbox
{
	height: 150px;
	overflow: hidden;
}
.pagebusiness .boxconteinerbus .imgbussinessbox
{
	height:200px;
	overflow: hidden;
}
.popupcriarbilhete .modal-body .boxconteinerbus .imgbussinessbox
{
	height:auto;
}
.pageusers .tab-content
{
	padding:0 15px;
}
.pageusers .nav-tabs > li
{
	width: 50%;
}
.pageusers .nav-tabs > li > a
{
	padding: 10px;
	text-align: center;
	background-color: #f1f0f0;
}
.pageusers .nav-tabs > li.active > a, .pageusers .nav-tabs > li a:hover, .pageanalitics .accountingbox .nav-tabs li.active a
{
	border-bottom: 3px solid #058040;
	background-color: #e4e9e6;
	color:#058040;
	margin:0;
	border-right: none;
	border-left: none;
}
#modalcriarmarca .col-md-6:first-child
{
	padding: 0 10px 0 0;
}
#modalcriarmarca .col-md-6:last-child
{
	padding: 0 0 0 10px;
}
#modalcriarmarca .labeltipobilhete
{
	float:none;
	background-color: transparent;
	margin-right: 10px;
}
#modalcriarmarca .modal-body div .col-m-6:first-child
{
	padding-left:0; 
}
#modalcriarmarca .modal-body div .col-m-6:last-child
{
	padding-right:0; 
}
#modalcriarmarca .modal-body .col-md-12
{
	padding:0;
}
#modalcriarmarca .imguploadpopup, .popupcriarbilhete .modal-body input, .popupcriarbilhete .modal-body textarea
{
	border-radius: 3px;
	background-color: #f8f8f8;
}
#modalcriarmarca .imguploadpopup
{
	position: absolute;
	border: 1px solid #d2d6de;
	width: 97%;
	height: auto;
	display: table;
	padding: 38% 42%;
}
#modalcriarmarca .imguploadpopupinner
{
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
	margin: -8% 0%;
	font-size: 32px;
	line-height: 50% !important;
	color: #ddd;
}
.modal-header
{
	background-color: #f8f8f8;
}
.progresspopup
{
	margin: 50px 0;
	display: table;
	width: 100%;
}
.progresspopup ul li
{
	list-style: none;
	border-radius:50%;
	background-color: #eee;
	padding: 8px 17px;
	font-size: 20px;
	float: left;
	margin: 0 auto;
	display: table;
	position: relative;
	z-index: 10;
}
.progresspopup ul li.active, .addbusiness .panel-body:hover, .addbusiness .panel-body:focus
{
	background-color: #009447;
	color: #fff;
}
.progresspopup ul li.stepmiddleprogress
{
	margin: 0 37.5%;
}
.progresspopup ul li:last-child
{
	float: right;
}
.progresspopup ul
{
	display: table;
	padding: 0;
	width: 100%;
	margin: 0;
}
.lineprogresso
{
	height: 5px;
	background-color: #eee;
	position: absolute;
	width: 90%;
	margin: 20px auto;
}
.stepsecond .lineprogresso
{
	width: 45%;
	margin: 20px auto;
}
.stepsecond .lineprogresso.inativeline
{
	right: 40px;
}
.stepthird .lineprogresso li, .stepthird li, .stepthird .lineprogresso, .stepsecond .lineprogresso.donefirst
{
	background-color: #009447 !important;
	color: #fff !important;
}
.pageprodutor .panel .imgbussinessbox
{
	height: 100px;
	overflow: hidden;
}
.pageprodutor .panel .descbussinessbox, .popupcriarbilhete .modal-body .boxconteinerbus .descbussinessbox span:last-child
{
	font:14px "DINRegular", Helvetica, Arial, sans-serif !important;
}
.pageanalitics .accountingbox .nav-tabs li a
{
	padding: 15px 30px;
}
/*
#top_sellers .highcharts-root {
    width: 82%;
}*/
.modal-header
{
    margin-bottom: 20px;
    border-radius: 5px;
}
.modal-content {
	border-radius: 5px;
}
.modal-content .btn-default {
    color: #009447;
    border: 1px solid #009447;
    font-weight: 600;
    font-family: 'Din';
}
.settings .nav-tabs {
    margin-top: 20px !important;
    background: #f3f3f3;
    font: 16px "DINBold", Helvetica, Arial, sans-serif !important;
    margin-left: 22px;
	margin-right: 33px;
	border-radius: 5px;
}
.settings .nav-tabs > li.active > a {
    border-bottom: 3px solid #058040;
    background-color: #e4e9e6;
    color: #058040;
    border-right: none;
    border-left: none;
}
.settings .nav-tabs > li:first-child {
	border-top-left-radius: 5px;
}
.settings .nav > li > a {
    padding: 15px 20px !important;
    color: #333;
    margin-right: 0 !important;
}
.settings .label-primary, .modal-primary .modal-body {
    background-color: #009447 !important;
    padding-top: 5px !important;
}
.settings .label-warning, .label-warning .modal-body, .label-danger, .label-default  {
    padding-top: 5px !important;
}
.highcharts-root {
	font-family: "DinRegular" !important;
}
/*--- /New Comment---*/
.biz-choice .img-responsive {
    height: 109px;
    object-fit: cover;
    object-position: 50% 100%;
}
/*--- /New Comment---*/
.up-img_producer .upload.text-center {
    margin-top: -14px !important;
    height: 255px;
}
.up-img_producer #papelFundo .papelFundoinner {
    font: 16px "DINBold", Helvetica, Arial, sans-serif !important;
    display: table;
    margin: 35%;
    position: absolute;
}
/*--- /LOCALIZAÇÃO ---*/
.localizacao {
    position: absolute;
    top: 0;
}
.localizacao .btn-success {
    border-color: #008d4c;
    background: #068141;
    border-radius: 3px;
    padding: 8px 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.popuplocalizacao .criar, .popupupdate .criar {
	letter-spacing: 1px;
    line-height: normal;
    font-family: "DINBold", Helvetica, Arial, sans-serif !important;
    margin-right: -18px;
    padding: 7px 15px !important;
}
.popuplocalizacao .btn-sucesss, .popupupdate .btn-sucesss {
	letter-spacing: 1px;
    line-height: normal;
    font-family: "DINBold", Helvetica, Arial, sans-serif !important;
    padding: 7px 15px !important;
    background: #313541 !important;
	color: #fff;
	text-transform: uppercase;
}
.popupupdate input {
    border-radius: 4px !important;
}
#location-nome {
    border-radius: 4px;
}
#_location a {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: #E0DFDF;
    padding: 40px;
    border-radius: 5px;
    margin: 18px;
    width: 28.8% !important;
    font-family: "DINBlack" !important;
	font-size: 20px;
	color: #282C37;
}
#_location {
    margin: 20px 45px 40px 35px !important;
    background: #edece9;
    padding: 20px;
    border-radius: 5px;
}
#_location .row {
	margin-left: 0;
	margin-right: 0;
}
/*------Create Role/Country/Rule------*/
.create-role .business-create {
    width: 50%;
    padding: 30px;
}
.create-country .business-create .business-form .col-md-6 {
    padding: 30px 10px 30px 13px !important;
}
/*
.create-country .business-create {
    width: 50%;
    padding: 30px;
}
*/
.create-rule .business-create .business-form .col-md-6 {
    padding: 0px 15px 0 13px !important;
}
.create-rule .business-form {
    margin-top: 30px;
}
.create-rule #percentagem_bilhete {
    margin-bottom: 30px;
}
/*---Scroll---*/
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #009447;
}