.filtroEd {
    border-radius: 4px !important;
    margin-right: -40px !important;
    margin-left: 58px !important;
    padding: 15px !important;
    width: 6% !important;
}
.commentblockquote {
    color: #068141;
    font-size: 71px;
    position: absolute;
    margin-left: 280px;
    margin-top: -35px;
}
.validate_bi span {
    font-size: 12px;
}
.container-fluid.\.validade_box {
    margin-right: -15px;
}

.container-fluid.validate_mask.Mask, .carousel-inner.uservalbackground {
    background: inherit;
}

#CiarValidarBilhete {
    margin-left: -5px;
    margin-right: 0;
}
.pagina_geral {
	margin: 0 5%;
}
.pagina_geral .container-fluid.validade_box 
{
	padding:0;
}
.margin_left-right
{
	margin-left: 0;
	margin-right: 0;
}

.bilhete-form .form-group {
    margin-bottom: 14px !important;
}

.modal-body #input {
    background: #edece9;
    border-radius: 4px;
}
.user_contatos
{
    margin-top: 35px;
	color:#009447;
}
.user_contatos span {
    font-size: 20px !important;
    font-weight: 400;
}
.descricao_text {
	width: 40% !important;
}
.aniversarios .box_coment {
    padding: 2% 10%;
}
.aniversarios .coment {
    float: left;
    background: #ddd;
    border-radius: 4px;
    width: 100%;
}
.anivernomeano {
    display: table;
    width: 190px;
}
.anivernomeano h2 {
    font-size: 17px !important;
    margin-left: -5px;
    padding: 0 70px 0 0;
    margin: 14px 0 0;
}
#comentario, .info_evento_evento  {
    margin-top: 30px;
}
.info_evento_evento h4 {
    margin-left: -5px !important;
}
#comentario h4 {
	margin-left: -20px;
}
#bilhetess {
    margin-top: 20px;
    margin-right: -15px;
}
.nav > li > a {
    border-radius: inherit;
}
.criar_evento
{
	    border-radius: 3px;
	    float: right;
}
.criar_evento a:hover, .criar_evento a:focus
{
	color: #fff;
    background: #0DAE5A;
}
.criar_evento a, .rodape .btn
{
	background: #068141;
	border-radius: 3px;
	padding:8px 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: normal;
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .pagination > li > a, .user_contatos h2, .modalpopup .modal-body h4 span:first-child, .popupcriarbilhete h4.modal-title
{
	font-family: "DINBlack", Helvetica, Arial, sans-serif !important;
}
 .user_contatos h2
{
	color:#068141;
}
.info_cartaz .fundo_circle span
{
	color:#fff;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .nome_user div.nomeuser, .fundo_user_bilh h2, .modalpopup .modal-body h4 span:first-child, .popupcriarbilhete h4.modal-title
{
	font-size: 20px;
}
.info_cartaz .fundo_circle span, .proximo_evento h4, .popupcriarbilhete h4.modal-title
{
    text-transform: uppercase;
}
.modal-header, .modal-footer
{
	border: none;
}
.modal-header
{
	padding:20px;
}
.modal-footer
{
	padding: 20px;
}
.proximo_evento h4
{
    color: #009447;
}
.info_evento{
	background: currentColor;
	background-size: cover;
	height: 358px;
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.info_cartaz{
	position: absolute;
	margin-top: -25%;
	margin-left: 4.6%;
	width: 94.5%;
}
.info_cartaz span
{
	color: #fff;
	font-size: 20px;
}
.info_cartaz .fundo_circle span:first-child
{
	color: #fff;
	text-transform: uppercase; 
	font: 20px "DINRegular", Helvetica, Arial, sans-serif !important;
}
.detalhes_geral span
{
	font-weight: normal;
	font-size: 22px;
	width: 100%;
	margin-bottom: 10px;
	display: table;
}
.detalhes_geral span:last-child
{
	margin:0;
}
.detalhes_geral button.btn-default
{
	font:14px "DINBlack", Helvetica, Arial, sans-serif !important;
	border:none;
	margin-top: 35px;
}
.detalhes_geral button.btn-default:hover, a.edit_acount:hover, a.edit_acount:focus
{
	background-color:#FFF;
}
.info_cartaz h1
{
	color: #fff!important;
	margin:0 0 20px 0;
}
.info_cartaz h1, .user_contatos h2
{
	font:36px "DINBold", Helvetica, Arial, sans-serif !important;
}
.detalhes_geral span i.fa
{
    font-size: 26px !important;
	width: 22px;
	text-align: center;
	margin-right: 10px;
}
.percentagem{
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-top: 20%;
}
.fundo_next_event{
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
}
.info_next_event
{
	bottom: 0;
	z-index: 999;
	color: #fff;
	position: absolute;
	width: 100%;
	display: table;
}
.info_next_event .col-md-12
{
	padding: 15px;
	font:18px "DINBold", Helvetica, Arial, sans-serif !important;
}
.nome_user div.nomeuser, .fundo_user_bilh h2, .fundo_user_bilh span
{
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.fundo_user_bilh h2
{
	color:#333;
}
.fundo_user_bilh small
{
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.fundo_user_bilh span
{
	font-size: 20px;
}
.fundo_user_bilh span i.fa
{
	margin-right: 10px;
}
.historicoevento .titulosection
{
	margin-top:6%;
}
.paginatiogerel
{
	margin: 30px auto;
	display: inline-block;
	width: 100%;
}
.pagination
{
	margin: 0 auto;
	display: table !important;
}
.pagination > li:first-child > span, .pagination > li:last-child > span, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > li:first-child > a, .pagination > li:last-child > a
{
	border-radius: 50%;
	border:1px solid #068141 !important;
	color: #068141;
	padding:1px 7px !important;
}
.pagination > li > a
{
	background-color:transparent !important;
	font-size: 16px !important;
	border-color:transparent !important;
	color:#068141 !important;
	padding:1px 7px !important;
}
.validate_mask
{
    margin:11% 4% 20px;
}
.pagina_geral .proximo_evento
{
	margin:40px 15px 20px;
}
.form-control:hover, .form-control:focus
{
	border-color:#009447 !important;
}
.serach_user
{
	width:99.5%;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	overflow: hidden;
}
.serach_user input
{
	height: 50px;
    background: #ecf0f1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
	text-transform: uppercase;
}

.serach_user span
{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	overflow: hidden;
	background: #009447 !important;
	border-color: #009447 !important;
	padding: 0;
	height: 50px;
}
.serach_user button
{
	width: 100%;
	height:100%;
	color: #fff;
	padding: 12px 22px;
	display: table;
	background-color: transparent !important;
	border: none;
}
.info_next_event .col-md-12 .col-md-1
{
	padding:0;
}
.info_next_event .col-md-12 .col-md-1 .diaevento
{
	margin-bottom:7px;
}
.info_next_event .col-md-12 .col-md-11
{
	padding-right: 0;
}
.info_next_event .col-md-11 .tipoevento
{
	font-family: "DINRegular", Helvetica, Arial, sans-serif !important;
    margin:-20px 0 0 0;
	position: absolute;
}
.info_next_event h3, .info_next_event .col-md-12 .col-md-1
{
	margin: 0;
	text-transform: uppercase;
	font: 32px "DINBold", Helvetica, Arial, sans-serif !important;
}
.row.clienteinner
{
	margin-top:30px;
}
.info_next_event a, .nome_user div.nomeuser
{
	color: #fff;
}
.info_next_event .media-heading
{
	margin-bottom: -7px!important;
	margin-top: 9px;	
}
.upload .fa-trash{
	background: #fff;
	padding: 4px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	font-size: 20px;
	float: right;
	margin-top: 6%;
	margin-right: 4%;
	color: #c0392b;
}
.bilhete-form .rodape 
{
    bottom: 0;
    position: absolute;
    width: 100%;
}
 .Mask .cancelar
{
    background: #313541 !important;
	border: 0px !important;
	color: #fff !important;
	padding: 8px 15px !important;
	text-transform: uppercase;
	font-family: "DINBold", Helvetica, Arial, sans-serif !important;
}
.criar{
	background: #009447!important;
	border: 0px!important;
	color: #fff!important;
	padding: 5px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 10px;
}
.edit{
	background: #009447!important;
	border: 0px!important;
	color: #fff!important;
	padding: 5px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 10px;
}
.delete{
	background: #ecf0f1!important;
	border: 0px!important;
	color: #c0392b!important;
	padding: 5px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
}
.validar{
	background: #ecf0f1!important;
	border: 0px!important;
	color: #e67e22!important;
	padding: 5px 15px!important;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 10px;
}
.dispublicar {
	margin-right: 10px !important;
} 
.escudo h2{
	color: #009447;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-size: 45px;
	margin-bottom: -5px;
	margin-top: 25px;
}
.modalpopup .modal-body h4, .modalpopup .modal-body .rodape
{
	width: 100%;
	display: table;
	margin: 0;	
}
.labeltipobilhete
{
	border: 1px solid #00a94b;
	border-radius: 5px;
	padding: 3px; 
	color: #00a94b; 
	float: right;
	line-height: 0;
}
.rodape .btn
{
	border: 0 !important;
	color: #fff !important;
	padding: 8px 15px !important;
	text-transform: uppercase;
	width: 46%;
	margin: 0;
}
.rodape .criar 
{
    background: #009447 !important;
	float: right;
}
.rodape .cancelar
{
    background: #313541 !important;
	float:left;
}
.infoput input{
	background: #ecf0f1;
	border-radius: 2px;
	margin-bottom: 6px;
	border: solid 1px rgba(189, 195, 199, 0.3);
	text-transform: uppercase;
	font-weight: 200;
	font-size: 12px !important;
}

.search{
	background: #e6e6e6;
	height: auto;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.search input{
	border-radius: 4px;
}

.list_evento{
	background: #fff;
	padding: 5px;
	overflow: hidden;
	height: auto;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 1%;
}
.list_evento h4{
	color: #00a94b;
}
.list_evento span{
	color: #565656;
}
.info_evento h4{
	color: #fff!important;
}
.fock{
	 background: rgba(0, 169, 75, 0.2);
	 position: relative;
}
.cartaz{
	padding: 0px;
	padding-left: 16px;
	overflow: hidden;
}

.info{
	padding: 0px;
	overflow: hidden;
	padding-right: 16px;
}

.info_evento small{
	float: right;
	color: #fff!important;
}

.menutab{
	/*border-bottom: 1px solid #00a94b!important;
	background: #f2f2f2!important;*/
}
.menutab > li.active > a, .menutab > li.active > a:focus, .menutab > li.active > a:hover{
	color: #00a94b!important;
	/*border: 1px solid #00a94b!important;*/
	background-color: #fff!important;
	border-radius: 0px!important;
	border-bottom-color: transparent!important;
}
.skin-blue .sidebar-menu > li > .treeview-menu{
	background: rgba(230, 230, 230, 0.9)!important;
}

.menutab li{
	display: inline-block;
}

.event_cover{
	height: 358px;
	overflow: hidden;
}

.event_futuro{
	height: 150px;
	overflow: hidden;
}

.evento_proximo{
	margin-top: 5%;
}
.skin-blue .main-header .logo{
	background: #068141 !important;
	color: #fff!important;
}
.skin-blue .main-header .navbar
{
	padding:22.5px 4.3%;
    background-color: #fff!important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.skin-blue .main-header .navbar .sidebar-toggle{
	color: #00a94b!important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background: #282c37!important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
	background: #00a94b!important;
	color: #fff!important;
}

.content-wrapper, .right-side{
	background: #fff !important;
}

.edit_acount.text-center {
    color: #282c37 !important;
}

.sidebar-menu.text-center {
    font-weight: 800;
    letter-spacing: 1px;
}

.summary{
	display: none;
}
.btn-file{
	background-color: #00a94b!important;
	border-color: #00a94b!important;
}

.bt{
	background: #00a94b!important;
	border: 1px solid #00a94b!important;
	border-radius: 4px!important;

}

.botao{
	background: rgba(0, 0, 0, 0.5)!important;
	border: 1px solid #eee!important;
	border-radius: 0px!important;
	width: 100%;

}

.login{
	background: rgba(255, 255, 255, 0.1)!important;
	padding: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)!important;
}
.grade{
	background: #fff;
	border-bottom: 2px solid #A2CED2;
	margin-bottom: 30px;
}

.cont{
	padding: 10px;
	text-align: center;
}

.mapa{
	padding-top: 11%;
	box-shadow: 0 6px 6px -6px #bbb;
}
.sair button, .sair button:hover, .sair button:focus
{
	border: 0px!important;
	background: transparent!important;
	color: #333;
}
.sair .caret{
	color: #fff;
}
.sair .dropdown-menu{
	min-width: 25px!important;
	padding: 0px!important;
}

.pag .active a{
	background: #3399ff!important;
	border-color: #3399ff!important;

}


.avatar{
	border: 1px solid #72afd2;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left; 
	margin: 13px 14px;
	background: #fff;
}

.avatar i{
	padding: 9px 13px;
}

.breadcrumb{
	background: #fff!important;
	border-radius: 0px!important;
	box-shadow: 0px 1px 0px #f0f0f0!important;
}

.page-header span{
	border-bottom: 1px solid #72afd2;
	padding-bottom: 6px!important;
	color: #777!important;

}

.galeria img{
	width: 112px;
}

.box_cont{
	padding-top: 5%!important;
}

.box.box-info{
	border-top-color: #69b1d5!important;
}