ErrorDocument 404 http://192.168.1.110/casa_cidadao/api/error_message/404.php
ErrorDocument 403 http://192.168.1.110/casa_cidadao/api/error_message/403.php
ErrorDocument 500 http://192.168.1.110/casa_cidadao/api/error_message/500.php


Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

IndexIgnore *


RewriteRule ^list/events/([0-9]+)$ passafree.php?function=getListEvents&user=$1
RewriteRule ^more/events/([0-9]+)/([0-9]+)$ passafree.php?function=getMoreEvents&quantidade=$1&user=$2
RewriteRule ^user/gostaevento passafree.php?function=UserGostaEvento
RewriteRule ^user/naogostaevento passafree.php?function=UserNaoGostaEvento
RewriteRule ^evento/getallcomment/([0-9]+)$ passafree.php?function=getCommentByEvent&idevent=$1
RewriteRule ^evento/savecomment passafree.php?function=saveComment
RewriteRule ^user/verificacao passafree.php?function=verificacaoDeUser
RewriteRule ^user/recover passafree.php?function=recoverPassWord
RewriteRule ^user/cadastro passafree.php?function=cadastrarUsuario
RewriteRule ^user/android/cadastro passafree.php?function=cadastrarUsuarioAndroid
RewriteRule ^user/login passafree.php?function=efectuarLogin
RewriteRule ^generateqrcode passafree.php?function=generateQRCode
RewriteRule ^bilhete/event/([0-9]+)$ passafree.php?function=getBilheteFromEvent&idevento=$1
RewriteRule ^reservar passafree.php?function=addBilheteToStandBy
RewriteRule ^list/tipoevents passafree.php?function=getTipoEvento
RewriteRule ^list/pockect/([0-9]+)$ passafree.php?function=getyourPockect&user=$1
RewriteRule ^pockect/bilhete/([0-9]+)/([0-9]+)$ passafree.php?function=getListBilheteFromPocket&user=$1&idevento=$2
RewriteRule ^savecouver passafree.php?function=saveCouver
RewriteRule ^filter/getFiltroEvento/([0-9]+)/([0-9]+)$ passafree.php?function=getFiltroEvento&tipo=$1&user=$2
RewriteRule ^filter/getFiltroUser/([^/]+)$ passafree.php?function=getFiltroUser&dados=$1 [L]
RewriteRule ^search/event/([^/]+)$ passafree.php?function=searchEvent&dados=$1 [L]
RewriteRule ^send/tickect passafree.php?function=sendTicket
RewriteRule ^tickect/setPIN passafree.php?function=setTicketPin
RewriteRule ^sugerirEvento passafree.php?function=sugerirEvento
RewriteRule ^followMarca passafree.php?function=followMarca
RewriteRule ^getfollowedMarca/([0-9]+)$ passafree.php?function=getListMarca&iduser=$1
RewriteRule ^isfollowingMarca/([0-9]+)/([0-9]+)$ passafree.php?function=checkUserFollowMarca&iduser=$1&idmarca=$2
RewriteRule ^unfollowMarca passafree.php?function=unfollowMarca
RewriteRule ^getNotification/([0-9]+)$ passafree.php?function=getNotification&iduser=$1
RewriteRule ^getHistorico/([0-9]+)$ passafree.php?function=getHistorico&iduser=$1
RewriteRule ^updateNotificationSts passafree.php?function=updateNotificationHistoricoStatus&tabela=notification
RewriteRule ^updateHistoricoSts passafree.php?function=updateNotificationHistoricoStatus&tabela=historico
RewriteRule ^socialLogin passafree.php?function=saveUserLoginSocialNetWork
RewriteRule ^upp passafree.php?function=UploadFile

RewriteRule ^get/event/([0-9]+)/([0-9]+)$ passafree.php?function=getEventById&user=$1&idevent=$2
RewriteRule ^user/edit passafree.php?function=updateUserPerfil



RewriteRule ^getfilter/([^/]+)/([^/]+)/([^/]+)$ filtro.php?function=getFiltroEvento&tipo=$2&user=$1&pesq=$3 [L]
RewriteRule ^getmorefilter/([^/]+)/([^/]+)/([^/]+)/([0-9]+)$ filtro.php?function=getMoreFiltroEvento&tipo=$2&user=$1&pesq=$3&quantidade=$4 [L]


RewriteRule ^addface/([0-9]+)$ passafree.php?function=addFace&id_compra=$1


RewriteRule ^efectuarcompra passafree.php?function=efectuarComprar
RewriteRule ^makebuy compra.php?function=efectuarComprar
RewriteRule ^qr passafree.php?function=testQR
RewriteRule ^ticket/validate compra.php?function=validarBilhete





